/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100..900&display=swap');
@font-face {
  font-family: 'Myanmar Khyay';
  src: url('./assets/fonts/Khyay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  border-inline: none;
  margin: 0;
  padding: 0;
}

/* BODY */

.container {
  width: 100%;
  max-width: 96%;
  margin: 0 auto;
  padding: 1rem 1rem; 
}
body {
  background: linear-gradient(160deg, #EBF2FF 0%, #BCC7DC 50%, #EBF2FF 100%);
  background-attachment: fixed;
  min-height: 100vh;
}
.top-header { /* Top Header Layout */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/* NAVBAR */

.text-logo { /* Logo */
  background-color: #ffffff;
  padding: 12px 20px;
  border-radius: 50px;
  border: none; 
  font-family: "MuseoModerno", sans-serif;
  font-size: 28px;
  color: #2b3674; 
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  letter-spacing: 0;
}

.nav-pill { /* Navbar */
  display: inline-flex; 
  align-items: center;
  padding: 2px 4px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #262F50; 
  font-family: "Myanmar Sans Pro", sans-serif;
  font-size: 16px;
  gap: 4px;
}

.nav-item { /* Nav Items */
  text-decoration: none;
  color: #262F50;
  padding: 12px 48px;
  border-radius: 50px;
  /*transition: all .5s ease; */
}

.nav-item.active { /* Active Item */
  background-color: #262F50;
  color: #ffffff;
}

/* WELCOME & KPI */

.welcome-section { /* Section */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: .5rem;
}

.greeting-wrapper { /* Left Side Section */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.greeting-text { /* Text Greeting */
  font-family: "Myanmar Khyay", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: #262F50;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.text-purple { /* Accent Color */
  color: #8b5cf6;
  margin: 0;
  padding: 0;
}

.greeting-subtext, .kpi-label {
  color: #262F50;
  font-family: "Myanmar Sans Pro", sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.kpi-container { /* Right Side Section */
  display: flex;
  gap: 3rem;
}

.kpi-item { /* KPI Item */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kpi-value { /* KPI Value */
  width: 100%;
  font-family: "Myanmar Khyay", sans-serif;
  text-align: right;
  font-size: 64px;
  color: #8b5cf6;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  padding: 0;

}